.border-with-top::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-3.5rem - 1px);
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(3.5rem + 1px);
    background-color: white;
}

.border-with-top-bottom::after {
    content: '';
    display: block;
    position: absolute;
    bottom: calc(-3.5rem - 1px);
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(3.5rem + 1px);
    background-color: white;
  }