@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.home {
  background-image: url("./images/sf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-line {
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%; 
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; 
}

.nav-line:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}

.skills{
  background-image: url("./images/vim.png");
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
}
.skills-image{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
}
@media (max-width: 600px)
{
  .skills-image{
    width:55px;
    height:55px;
  }
}
.projects{
  height: 100vh;
  background-position: 0 100%; 
  background-color: rgb(22, 22, 22);
  background-size:cover;
  background-repeat: no-repeat;
}
.experience{
  min-height: 100vh;
  background-position: 0 100%; 
  background-color: rgb(22, 22, 22);
}
.st0{
  fill:none;
}
.st1{  
  fill: #519e1e;
  stroke:#7ACC44 ;
}
.st2
{
  fill:#332923;
  stroke:#58483e;
}
textarea{
  resize: both;
}